<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCY2zBYK8dv0XKvX8cJ31_0R4cBINgrt_c</string>
	<key>GCM_SENDER_ID</key>
	<string>910882605976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nuno.emotee.dev</string>
	<key>PROJECT_ID</key>
	<string>emotee-dev-f4f29</string>
	<key>STORAGE_BUCKET</key>
	<string>emotee-dev-f4f29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910882605976:ios:736326fab4b1a1145939ed</string>
</dict>
</plist>